# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=travis_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "E2/YuDI+EbWnyjo6InXz0zS44Mh4n5eVOjXpkynmB/EB8DpKpkFoFrNKk3mcZZviW9fp0iqkPJjFt64Bmv/s9oijxlOVfkKzsD8KsiErMDem7WPPbtpceyswjMiO2BLM+3Qgn2/33WjMAsvkDrp+xBx2w2Oqy3Ca/SuJcTYI+G6LNCJ7YuXgUpunFRsd2v0lfC5WhaJ2mnOKXSJb6+vUfwxLH8gSESRSeXLOiYr6sAnAjO9t5WS3ec0eXtSK60Ly/fzGHazhg5szwaz+pmY3jPy0g9TQz80svFnDkujH4tScRces2W1EaxCHmRAjU29zl9dv6Q3ZuffqK5LIldafhYAY4dFMpHOP4qES9uZr0lw6P8hycaPzf4KSOSCnxJRA0SN0K0fTXTKM9V6Pz2QDCFMCvCtXHCwo9S2qQFz0PSNhL2nmK03gUtCBUPF9vPAc8/C6hyWbPBF9g31YKYw6Mkek+yDrLzlC/Lrx7QO/cuF+Zsb+ju/M3qrjHOfyfTQuwseoAYrChYp6jMo0YWAi9i0uLs6LyuCdf2ANJ36OJcK/Zzz1vntgQUoLajgXA37XlX3VHsW7+MKV4itXrX0xcRWL4E125HzhUL0rZwT+Q8SYrxFCxi4mOVJ1zsRjLneXBBhYFDV2WKJeVz5A+bd2LOCiISCE64XWC81/mPKDIvE="


before_install:
    # Fast finish the PR.
    - |
      (cat recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-ci-setup=1
      # Overriding global run_conda_forge_build_setup_osx with local copy.
      source recipe/run_conda_forge_build_setup_osx

script:
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml

  - recipe/upload_or_check_non_existence.py ./recipe conda-forge --channel=main -m ./.ci_support/${CONFIG}.yaml
